h1 #{title}

h3 Ein Projekt
p von <a href="https://github.com/MalteT">Malte Tammena</a> im Auftrag von <a href="https://www.hg-graebe.de/">Prof. Dr. Hans-Gert Gräbe</a> an der <a href="https://uni-leipzig.de"> Universität Leipzig</a>.

h3 Die Aufgabe
p Aufgabe war das Instandsetzen und Generalisieren des <a href="https://github.com/LeipzigData/MINT-Orte">MINT-Projekts von 2015</a>

h3 Verwendete Techniken

a(href="http://gulpjs.com/" target="_blank")
  img.img-fluid(src="logos/gulp.svg" style="height: 60px")
a(href="https://angularjs.org/" target="_blank")
  img.img-fluid(src="logos/angular.svg" style="height: 60px")
a(href="https://pugjs.org/" target="_blank")
  img.img-fluid(src="logos/pug.svg" style="height: 60px")
a(href="https://getbootstrap.com/" target="_blank")
  img.img-fluid(src="logos/bootstrap.svg" style="height: 60px")
a(href="https://yarnpkg.com/en/" target="_blank")
  img.img-fluid(src="logos/yarn.svg" style="height: 60px")
a(href="http://lesscss.org/" target="_blank")
  img.img-fluid(src="logos/less.svg" style="height: 60px")
a(href="https://leafletjs.com/" target="_blank")
  img.img-fluid(src="logos/leaflet.svg" style="height: 60px")
